a:hover {
color: red;
}
a{
    color:black;
}
th{
    text-align: center;
}
td{
    text-align: center;
}

h5:hover{
    color:red;
}
h6{
    text-decoration:underline;
    font-style: italic;
    color:black;
}
h5{
    font-weight:bold
})
